{
  "env": {
    "browser": true,
    "es6": true,
    "mocha": true,
    "node": true,
    "shared-node-browser": true,
    "worker": true
  },
  "extends": [
    "airbnb",
    "prettier",
    "prettier/react"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    },
    "ecmaVersion": 8
  },
  "plugins": [
    "prettier",
    "chai-friendly"
  ],
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [
          ".js",
          ".jsx",
          ".spec.js",
          ".spec.jsx",
          ".data.js"
        ]
      }
    }
  }
}
